@media only screen and (min-width: 360px) 
    {
    html,body 
        {
        -webkit-text-size-adjust: none;
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        font-weight: normal;
        font-family: "Courier New", Courier, monospace;
        }
    .maindiv 
        {
        -webkit-text-size-adjust: none;
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        font-weight: normal;
        font-family: "Courier New", Courier, monospace;
        }
    .canvasdiv
        {
        background-color: black;
        left: 0 px;
        top: 0 px;
        width: 640px;
        height: 480px;
        margin: 0;
        padding: 0;
        position: relative;
        border: 1px solid white;
        }
    }

